html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-top: 2rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  section {
    margin-top: 1rem;
    padding: 1rem;
  }
}

a {
  text-decoration: none;
  transition: color 0.175s;
}

img {
  max-width: 100%;
  border-radius: 4px;
}
